{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}
<h2>{{ product.name }}</h2>
<p><strong>Price:</strong> ${{ product.price }}</p>
<p>{{ product.description }}</p>

{% if product.image %}
  <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width:250px;">
{% endif %}

<form action="{% url 'cart:add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>
{% endblock %}
